* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
}

body {
  color: #333;
  background: #efefef;
  font-family: $font-primary;
}

.headerTitle {
  text-align: center;
  margin: 1em;
  text-transform: uppercase;
}
