/*-------------Navigation-------------*/
#navbar {
  transition: all 0.5s ease;
  position: fixed;
  height: 64px;
  background-color: $body-bg;
  top: 0%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $body-bg;
  padding: 0 1.5rem;
  margin: 0 auto;
  position: fixed;
  width: 100vw;
  z-index: 3;
  &__brand {
    color: $gray-800;
    text-transform: uppercase;
  }
  &__brand-span {
    color: $blue;
  }
  &__list {
    text-transform: uppercase;
    border-radius: 2px;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    list-style: none;
  }
  &__content {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin: 0.4em;
    width: 100%;
    text-decoration: none;
  }

  &__link {
    color: $gray-800;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: all 0.3s;
  }

  &__link {
    justify-content: center;
    width: 100%;
    padding: 1.4em 0.8em;
    border-radius: 5px;
    text-transform: uppercase;
  }
  &__selected {
    color: $red;
  }
}

.navbar__link:is(:focus, :hover) {
  color: $blue;
  transition: 0.2s ease-in-out;
}

#navbar-menu {
  position: relative;
  display: none;
  /* top: 64px; */
  bottom: 0;
  opacity: 0;
  left: 0;
  right: 0;
}

.navbar-list {
  list-style: none;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.menu-container {
  position: relative;
}

.menu {
  background-color: $body-bg;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  margin: 10px auto;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid $body-bg;
}
.menu ul .last-li {
  border-bottom: none;
}
.menu li a {
  text-decoration: none;
  color: $gray-900;
  padding: 15px 20px;
  display: block;
}

label.fa-burger {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border: none;
  vertical-align: middle;
  transition: all 0.4s ease;
}
#burgerCheck {
  display: none;
}
.navbar-list:hover,
label.fa-burger:hover {
  outline: 0;
  color: $blue;
}
.navbar-list:active,
label.fa-burger:active {
  outline: 0;
  color: $blue;
}

/* ///MEDIAQ/// */
@media screen and (min-width: 700px) {
  .menu-container {
    display: none;
  }

  #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: relative;
    display: block;
    height: 100%;
    transition: all 0.5s ease;
    display: contents;
  }

  .navbar-list {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}
