.search {
  display: flex;
  margin: 0 auto;
  max-width: 40vw;
  &__input {
    height: 3em;
    width: 100%;
  }
  &__btn {
    background-color: $blue;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: #07c;
  }

  &__btn:active {
    background-color: #0064bd;
    box-shadow: none;
  }
}
.search__input {
  background-color: $gray-800;
  border: 1px solid $gray-600;
  border-radius: 5px 0 0 5px;
  color: $white;
}
